 body {
        margin: 0;
        padding: 0;
        background: black;
        opacity: 1;
    }

    #montage {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #WhiteLogo {
        width: 150px;
        height: 60px;
        margin-left: 10px;
    }

    h1 {
        color: white;
        font-family: fantasy;
        font-size: 20px;
        padding: 5px;
    }

    h2 {
        color: rgb(255, 255, 255, 0.75);
        font-family: fantasy;
        font-size: 60px;
        text-align: left;
        margin-left: 10px;
    }

    h3 {
        color: white;
        font-family: fantasy;
        font-size: 20px;
        text-align: left;
        margin-left: 10px;
    }

    #button {
        width: 50px;
        height: 50px;
    }

    #Steam,
    #Playstation,
    #Xbox {
        width: 200px;
        height: 70px;
        float: right;
        padding: 5px;
    }