 body {
        margin: 0;
        padding: 0;
        background: black;
    }

    .video img {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 300px;
        height: 150px;
        z-index: 2;
        /* z-index can be used to control the stacking order of 
        the html element the higher the index number it will be the highest on the layer*/
    }

    #hd2video {
        position: fixed;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        /* object-fit:cover for object fit is used to specify how an img or vid should resize to cover the page
           cover will preserved the aspect ratio and the img will cut overflowing content */
    }

    .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 5px;
        z-index: 3;
    }

    .content img {
        position: fixed;
        left:1%;
        width: 80px;
        height: 80px;
        z-index: 4;
    }

    .progressbarcontainer {
        width: 100%;
        height: 30px;
        background-color: rgb(34, 34, 34, 0.5);
        border-radius: 10px;
    }

    .progress-bar {
        height: 100%;
        background-color: rgb(255, 166, 0);
        border-radius: 10px;
        animation: fill-progress 8s linear forwards;
    }

    .content h1 {
        color: white;
        font-size: 30px;
    }

    @keyframes fill-progress {
        from {
            width: 0%;
        }

        to {
            width: 100%;
        }
    }