body {
        margin: 0;
        padding: 0;
        background: black;
        opacity: 1;
    }

    /* Background for <section id="content"> */
    #content{
        background-image: url("../images/BackgroundReport.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

    #WhiteLogo {
        width: 150px;
        height: 60px;
        margin-left: 10px;
    }

    h1 {
        color: white;
        font-family: fantasy;
        font-size: 20px;
        padding: 5px;
    }

    h2 {
        color: white;
        font-family: fantasy;
        text-align: center;
        font-size: 50px;
        padding: 5px;
    }

    h3 {
        color: white;
        font-family: fantasy;
        text-align: center;
        font-size: 25px;
        padding: 5px;
    }

    h4{
        color: white;
        font-family: monospace;
        font-size: 20px;
        text-align: center;
    }

    #reportform .form-control {
        border:solid 5px rgb(255, 196, 0);
        border-radius: 15px;
    }

    #reportform .btn.btn-xl{
        border: solid;
        border-radius: 15px;
        background: linear-gradient(to bottom, rgb(255, 187, 0), rgb(255, 238, 0));
        color: black;
        font-family:fantasy;
        font-size:30px;
    }

    #reportform .btn.btn-xl:hover{
        filter: brightness(1.05);
    }

    #button {
        width: 50px;
        height: 50px;
    }