<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helldivers 2 Fan Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <link href="css/About.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img id="WhiteLogo" src="Images/Helldiver2WhiteLogo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#Helldiver2NavbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Helldiver2NavbarMenu">
                    <ul class="navbar-nav ms-auto">
                        <!-- ms-auto can be used to push the element to right if is from right to left will be ms-right-auto -->
                        <li class="nav-item">
                            <a class="nav-link" href="Home.html">
                                <h1>Home</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">
                                <h1>About</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Enemies.html">
                                <h1>Enemies</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Report.html">
                                <h1>Report Bug</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <img src="images/Play Button.png" id="button"></img>

                            <audio id="HelldiverMusic">
                                <source src="Music/Aboutmusic.mp3" type="audio/mp3">
                            </audio>
                            <script>
                                var music = document.getElementById("HelldiverMusic");
                                var button = document.getElementById("button");

                                button.onclick = function () {
                                    if (HelldiverMusic.paused) {
                                        HelldiverMusic.play();
                                        button.src = "images/Pause Button.png";
                                    } else {
                                        HelldiverMusic.pause();
                                        button.src = "images/Play Button.png";
                                    }
                                }
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="app">
        <main>
            <section id="HD2picture">
                <div class="container-fluid d-flex justify-content-center mx-auto">
                    <!-- mx is margin-left and right -->
                    <img id="banner" :src="bannerSrc" alt="Banner" class="img-fluid">
                </div>
            </section>
            <section id="content" class="container-fluid col-12">
                <div class="contentarea">
                    <div v-for="item in content" :key="item.textId" class="row">
                        <!-- :key main used is to improve the identification to be more accurate if there is any changes made remove/add  -->
                        <template v-if="item.contentfirst">
                            <!-- item.contentfirst main use is to give an identification to identify the order of the content display to be first or not -->
                            <div class="col-sm-6 p-5">
                                <div :id="item.textId">
                                    <h2>{{ item.title }}</h2>
                                    <h3 class="pre-line">{{ item.desc }}</h3>
                                    <h4>{{ item.warning }}</h4>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <img :id="item.imgId" :src="item.imgSrc" :alt="item.imgAlt" class="img-fluid p-4">
                            </div>
                        </template>

                        <template v-else>
                            <div class="col-sm-6">
                                <img :id="item.imgId" :src="item.imgSrc" :alt="item.imgAlt" class="img-fluid p-4">
                            </div>
                            <div class="col-sm-6 p-5">
                                <div :id="item.textId">
                                    <h2>{{ item.title }}</h2>
                                    <h3 class="pre-line">{{ item.desc }}</h3>
                                    <h4>{{ item.warning }}</h4>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
<footer>
    <div class="container-fluid bg-dark bg-gradiant text-center p-3">
        <h5>Disclaimer This Is An Unofficial Website.</h5>
        <h5>All assets belongs to the officials publisher:Arrowhead Studio and Sony Entertainment.</h5>
    </div>
</footer>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    const { createApp } = Vue;

    const vm = createApp({
        data() {
            return {
                bannerSrc: "images/HD2Banner.jpg",
                content: [
                    {
                        textId: "text1",
                        imgId: "welcome",
                        imgSrc: "images/Welcome.jpg",
                        imgAlt: "Welcome",
                        contentfirst: true,
                        title: "THE MINISTRY OF DEFENCE HAVE SOMETHING TO TELL",
                        desc: "Fellow new recruits,congratulations of becoming a Helldiver.\nIts time to spread our true peace,freedom and democracy.\nLiberate every single enemy territory that threaten the safety of Super Earth.",
                        warning: "WARNING ANY UNDEMOCRATIC BEHAVIOUR WILL BE TREATED AS TREASON!!!!",
                        textStart: "top 50%",
                        textEnd: "bottom 10%",
                        imgStart: "top 50%",
                        imgEnd: "bottom 10%"
                    },
                    {
                        textId: "text2",
                        imgId: "team",
                        imgSrc: "images/Team.jpg",
                        imgAlt: "Team",
                        contentfirst: false,
                        title: "CHAOTIC FUN IMMERSIVE AND AMAZING COOP EXPERIENCE",
                        desc: "Spreading Peace and Freedom alone maybe honourable but why not share the honour among other fellow Helldivers.\nEach Helldivers can cover each other weakness which enemies have no strategy to exploited weakness.",
                        warning: "FRIENDLY FIRE BEHAVIOUR ISNT IN YOUR TRAINING MANUAL",
                        textStart: "top 80%",
                        textEnd: "bottom 10%",
                        imgStart: "top 80%",
                        imgEnd: "bottom 20%"
                    },
                    {
                        textId: "text3",
                        imgId: "enemy",
                        imgSrc: "images/Enemies.jpg",
                        imgAlt: "Enemies",
                        contentfirst: true,
                        title: "FACE OUR ENEMIES AND SHOW THEM NO MERCY",
                        desc: "Our enemy have continous expand their territory towards Super Earth.\nThey are a threats towards our freedom and democracy.\nWe as Helldivers should send them back to hell and let them have a taste of liber tea.\nNo Bug,Bots or Squids can terrorise our freedom.",
                        warning: "NEVER TRUST ENEMIES PROPAGANDA",
                        textStart: "top 80%",
                        textEnd: "bottom 10%",
                        imgStart: "top 80%",
                        imgEnd: "bottom 20%"
                    },
                    {
                        textId: "text4",
                        imgId: "weapons",
                        imgSrc: "images/Weapons.jpg",
                        imgAlt: "Weapons",
                        contentfirst: false,
                        title: "DIVERSE WEAPON ARSENAL",
                        desc: "Ministry of Defence have conducted multiple weapon research to expand Helldivers Arsenals.\nIt is encourage Helldivers to experiment different weapon,stratagem to best fit the situation.\nSo feel free to use your enemies as test subject to spread liberty and democracy.",
                        warning: "ANY CRITICISM TOWARDS SUPEREARTH WEAPON WILL UNDERGOES STRICT REVIEW PROTOCALL",
                        textStart: "top 80%",
                        textEnd: "bottom 10%",
                        imgStart: "top 80%",
                        imgEnd: "bottom 10%"
                    },
                    {
                        textId: "text5",
                        imgId: "dev",
                        imgSrc: "images/Dev.jpg",
                        imgAlt: "Dev Team",
                        contentfirst: true,
                        title: "ARROWHEAD DEV TEAM",
                        desc: "The dev team consist of 100+ talented employees that is extremely skilled in creating fun,exciting and excellent cooperative experience games.\nTheir game development always emphasis on create games that not only they will enjoy and have a blast with it.\n They always listening to players feedback to improve the game further.",
                        warning: "THEIR FAMOUS QUOTE\"A GAME FOR EVERYONE IS A GAME FOR NO ONE\".",
                        textStart: "top 80%",
                        textEnd: "bottom 10%",
                        imgStart: "top 80%",
                        imgEnd: "bottom 10%"
                    },
                ]
            };
        }
    }).mount("#app");

    gsap.from("body", { opacity: 0, duration: 1 });

    // Register ScrollTrigger so gsap recognizes scroll-based triggers
    gsap.registerPlugin(ScrollTrigger);

    // Optional: show markers while debugging, set to false for production
    ScrollTrigger.defaults({ markers: false });

    vm.content.forEach((item) => {
        // vm.content is used to access the content array in the Vue instance
        // forEach is used to loop through each item in the content array
        gsap.from(`#${item.textId}`, {
            scrollTrigger: {
                trigger: `#${item.textId}`,
                start: item.textStart || "top 80%",
                end: item.textEnd || "bottom 10%",
                markers: false,
                toggleActions: "play reverse play reverse"
            },
            x: -200,
            opacity: 0,
            duration: 2,
            ease: "power2.out"
        });

        gsap.from(`#${item.imgId}`, {
            scrollTrigger: {
                trigger: `#${item.imgId}`,
                start: item.imgStart || "top 80%",
                end: item.imgEnd || "bottom 10%",
                markers: false,
                toggleActions: "play reverse play reverse"
            },
            x: -200,
            opacity: 0,
            duration: 2,
            ease: "power2.out"
        });
    });
</script>