<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helldivers 2 Fan Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link href="css/Enemies.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-opacity-50">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img id="WhiteLogo" src="images/Helldiver2WhiteLogo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#Helldiver2NavbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Helldiver2NavbarMenu">
                    <ul class="navbar-nav ms-auto">
                        <!-- ms-auto can be used to push the element to right if is from right to left will be ms-right-auto -->
                        <li class="nav-item">
                            <a class="nav-link" href="Home.html">
                                <h1>Home</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">
                                <h1>About</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Enemies.html">
                                <h1>Enemies</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Report.html">
                                <h1>Report Bugs</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="enemy">
        <main>
            <section id="terminids" class="container-fluid col-12">
                <div class="terminidscontent">
                    <div v-for="item in bugs" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.imgId" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/TerminidsPlayIcon.png" id="button" alt="Play/Pause">
                                <audio id="BugMusic">
                                    <source src="Music/Bug Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <h3>Special Terminids</h3>
                    <div v-for="bugId in specialBugs" class="row">
                        <h3>{{bugId.name}}</h3>
                        <div class="container">
                            <h4 class="pre-line text-center">{{bugId.description}}</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img :id="bugId.imgId" :src="'images/' + bugId.imgSrc" class="img-fluid"
                                :alt="bugId.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video :id="bugId.videoId" :src="'Videos/' + bugId.videoSrc" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
                </div>
            </section>

            <section id="automaton" class="container-fluid col-12">
                <div class="automatonscontent">
                    <div v-for="item in bots" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.icon" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/AutomatonPlayIcon.png" id="button2" alt="Play/Pause">
                                <audio id="BotMusic">
                                    <source src="Music/Bot Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <h3>Special Automatons</h3>
                    <div v-for="botId in specialBots" class="row">
                        <h3>{{botId.name}}</h3>
                        <div class="container">
                            <h4 class="pre-line text-center">{{botId.description}}</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img :id="botId.imgId" :src="'images/' + botId.imgSrc" class="img-fluid"
                                :alt="botId.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video :id="botId.videoId" :src="'Videos/' + botId.videoSrc" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
            </section>

            <section id="illuminates" class="container-fluid col-12">
                <div class="illuminatescontent">
                    <div v-for="item in squids" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.icon" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/IlluminatesPlayIcon.png" id="button3" alt="Play/Pause">
                                <audio id="SquidMusic">
                                    <source src="Music/Squid Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <h3>Special Illuminates</h3>
                    <div v-for="squidId in specialSquids" class="row">
                        <h3>{{squidId.name}}</h3>
                        <div class="container">
                            <h4 class="pre-line text-center">{{squidId.description}}</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img :id="squidId.imgId" :src="'images/' + squidId.imgSrc" class="img-fluid"
                                :alt="squidId.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video :id="squidId.videoId" :src="'Videos/' + squidId.videoSrc" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
<footer>
    <div class="container-fluid bg-dark bg-gradiant text-center p-3">
        <h2>Disclaimer This Is An Unofficial Website.</h2>
        <h2>All rights belongs to the officials publisher:Arrowhead Studio and Sony Interactive Entertainment.</h2>
        <h2>If there is any issues feel free to contact me with the following email address: joodesu1234@gmail.com
        </h2>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    window.initEnemiesPage = function () {
        function music(button, audio, playIcon, pauseIcon) {
            // it is used to make a certain button img to link it with audio for play and pause
            var audio = document.getElementById(audio);
            var button = document.getElementById(button);
            if (!audio || !button) return;
            // If either the audio or button element is not found, exit the function
            button.onclick = function () {
                if (audio.paused) {
                    audio.play();
                    button.src = pauseIcon;
                } else {
                    audio.pause();
                    button.src = playIcon;
                }
            };
        }

        music("button", "BugMusic", "images/TerminidsPlayIcon.png", "images/TerminidsPauseIcon.png");
        music("button2", "BotMusic", "images/AutomatonPlayIcon.png", "images/AutomatonPauseIcon.png");
        music("button3", "SquidMusic", "images/IlluminatesPlayIcon.png", "images/IlluminatesPauseIcon.png");

        gsap.from("body", { opacity: 0, duration: 1 });
        // from to put it simply is the beginning of an animation,to is the end of the animation

        gsap.registerPlugin(ScrollTrigger);
        ScrollTrigger.defaults({ markers: false });

        gsap.fromTo("#Stalker",
            {
                opacity: 1,
                scale: 1
            },
            {
                opacity: 0.25,
                duration: 0.5,
                scale: 0.5,
                yoyo: true,
                // yoyo main use is to reverse the animation back and usually must pair with repeat that have a number or else it would not work
                repeat: 3,
                ease: "none",
                scrollTrigger: {
                    trigger: "#Stalker",
                    start: "top 80%",
                    end:"bottom 10%",
                    toggleActions: "play reverse play reverse"
                }
            }
        );

        gsap.fromTo("#BileTitan", {
                y: 300,
                rotation:-90,
                opacity: 0,
            },
            {
                y: 0,
                opacity: 1,
                rotation: 0,
                duration: 2,
                ease: "power4.out",
            // clearprops is needed to ensure the img position would not be altered in anyway after the animation is finish most common uses either clearprops:x,y,rotation or clearprops:transform
            scrollTrigger: {
                trigger: "#BileTitan",
                start: "top 80%",
                toggleActions: "play none none reset"
            }
        });

        gsap.from("#HiveLord", {
            y: 300,
            scaleY: 0.85,
            transformOrigin: "50% 100%",
            // transform origin is used set the position to expand the size of the object/image
            opacity: 0,
            duration: 1,
            ease: "power3.out",
            // power.out have four type 1~4 the higher the number the faster the animation stop in at the end
            scrollTrigger: {
                trigger: "#HiveLord",
                start: "top 80%",
                toggleActions: "play none none reset"
            }
        });

        gsap.from("#Hulks", {
            y: -300,
            opacity: 0,
            duration: 2,
            ease: "power3.out",
            scrollTrigger: {
                trigger: "#Hulks",
                start: "top 80%",
                toggleActions: "play none none reset"
            }
        });

        gsap.from("#FactoryStrider", {
            x: -100,
            y: 30,
            rotation: -1.5,
            duration: 1,
            ease: "power4.out",
            yoyo: true,
            repeat: 1,
            clearProps: "x,y,rotation",
            scrollTrigger: {
                trigger: "#FactoryStrider",
                start: "top 80%",
                toggleActions: "play none none reset"
            }
        });

        gsap.fromTo("#Fleshmobs",
            {
            x:-700,
            scale:0.5,
            },
               {
                x: 125,
                scale:1.25,
                duration: 2,
                ease: "power3.out",
                scrollTrigger: {
                    trigger: "#Fleshmobs",
                    start: "top 80%",
                    end:"bottom 10%",
                    toggleActions: "play reverse play reverse"
                }
            });

        gsap.to("#Leviathan", {
            y: -100,
            rotation: 1,
            duration: 2,
            ease: "power2.inOut",
            yoyo: true,
            repeat: -1,
            scrollTrigger: {
                trigger: "#Leviathan",
                start: "top 80%",
                toggleActions: "play pause resume pause"
            }
        });

        // // Recalculate start/end after images/videos finish loading
        window.addEventListener("load", () => ScrollTrigger.refresh(), { once: true });
    };
</script>
<script src="js/enemies.js"></script>

</html>