<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helldivers 2 Fan Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link href="css/Enemies.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark bg-opacity-50">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img id="WhiteLogo" src="images/Helldiver2WhiteLogo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#Helldiver2NavbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="Helldiver2NavbarMenu">
                    <ul class="navbar-nav ms-auto">
                        <!-- ms-auto can be used to push the element to right if is from right to left will be ms-right-auto -->
                        <li class="nav-item">
                            <a class="nav-link" href="Home.html">
                                <h1>Home</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About.html">
                                <h1>About</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Enemies.html">
                                <h1>Enemies</h1>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Report.html">
                                <h1>Report Bugs</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="enemiesapp">
        <main>
            <section id="terminids" class="container-fluid col-12">
                <div class="terminidscontent">
                    <div v-for="item in bugs" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.imgId" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/TerminidsPlayIcon.png" id="button" alt="Play/Pause">
                                <audio id="BugMusic">
                                    <source src="Music/Bug Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Special Terminids</h3>
                        <h3>Stalker</h3>
                        <div class="container">
                            <h4 class="text-center">Due to SuperEarth genetic tempering with the Hunters,they have
                                mutated to gain the ability of camouflage themselves to hide themselves.</h4>
                            <h4 class="text-center">When threaten,they can leap away from danger and prepare for the
                                next attack.</h4>
                            <h4 class="text-center">They have learn to ambush Helldivers with razorsharp claws,or use
                                its tongue attack to knock down helldiver to make them even more vulnarble.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="Stalker" src="images/Stalker.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="Stalkervid" src="Videos/Stalker.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                        <h3>Bile Titans</h3>
                        <div class="container">
                            <h4 class="text-center">Bile Titans are massive,heavily armoured terminids,which makes them
                                impervious to light and medium pen firearms.</h4>
                            <h4 class="text-center">Despite their sheer size,they can move quite quickly to catch up to
                                helldivers.</h4>
                            <h4 class="text-center">Their corrosive biles can melt through helldivers tough armour or
                                crush them with their claws.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="BileTitan" src="images/BileTitan.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="BileTitanvid" src="Videos/Bile Titan.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                        <h3>Hive Lords</h3>
                        <div class="container">
                            <h4 class="text-center">Hive Lords are one of the biggest Terminids,they usually traverse in
                                the ground that cause massive quakes.</h4>
                            <h4 class="text-center">Their armour is extremely durable make it resistance to most heavy
                                weapons.</h4>
                            <h4 class="text-center">They will ermerged from the ground to crush helldivers or spit
                                vollies of corrosive bile</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="HiveLord" src="images/HiveLord.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="Hivelordvid" src="Videos/Hivelord.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
            </section>

            <section id="automaton" class="container-fluid col-12">
                <div class="automatonscontent">
                    <div v-for="item in bots" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.icon" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/AutomatonPlayIcon.png" id="button2" alt="Play/Pause">
                                <audio id="BotMusic">
                                    <source src="Music/Bot Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Special Automatons</h3>
                        <h3>Hulks</h3>
                        <div class="container">
                            <h4 class="text-center">Hulks are heavily-armored siege walkers utilized by the Automatons that make them impervious to light and medium pen weapons.</h4>
                            <h4 class="text-center">They are equipped with different weaponry that makes them excel in close or long range combat.</h4>
                            <h4 class="text-center">Hulk bruisers that are armed with rapid fire cannons and rapid fire pulse cannons.</h4>
                            <h4 class="text-center">Hulk scorchers are close range combatant that are armed with flamethrower and a buzzsaw and will aggressively try to close the distance.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="Hulks" src="images/Hulks.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="Hulkvid" src="Videos/Hulks.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                        <h3>Factory Strider</h3>
                        <div class="container">
                            <h4 class="text-center">Factory Striders are currently the biggest automatons on the battlefield, its shell is enhanced with heavy plating and reinforced joints which make it resistance to heavy weaponry.</h4>
                            <h4 class="text-center">They are equipped with a cannon on its back and its head is armed with 2 miniguns to attack Helldivers.</h4>
                            <h4 class="text-center">They can also fabricate devastators to assist it in battle.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="FactoryStrider" src="images/FactoryStrider.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="FactorystriderVid" src="Videos/FactoryStrider.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
                </div>
            </section>

            <section id="illuminates" class="container-fluid col-12">
                <div class="illuminatescontent">
                    <div v-for="item in squids" class="row">
                        <div class="col-xl-12 col-xxl-4 p-4">
                            <img :id="item.icon" :src="'images/' + item.imgSrc" class="img-fluid" :alt="item.imgAlt">
                        </div>
                        <div class="col-xl-12 col-xxl-8 p-4">
                            <h3>{{item.title}}
                                <img src="images/IlluminatesPlayIcon.png" id="button3" alt="Play/Pause">
                                <audio id="SquidMusic">
                                    <source src="Music/Squid Theme.mp3" type="audio/mp3">
                                </audio>
                            </h3>
                            <h4 class="pre-line">{{item.desc}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Special Illuminates</h3>
                        <h3>Fleshmobs</h3>
                        <div class="container">
                            <h4 class="text-center">The Fleshmobs are heavy illuminates units that the illuminates experimented with SuperEarth Citizen that have failed and created the grotesque abominations.</h4>
                            <h4 class="text-center">They are slow while stumbling around the battlefield but they will charged towards Helldivers with surprising speed.</h4>
                            <h4 class="text-center">They are most dangerous when they are hordes of voteless supporting it.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="Fleshmobs" src="images/Fleshmobs.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="FleshmobsVid" src="Videos/Fleshmobs.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                        <h3>Leviathans</h3>
                        <div class="container">
                            <h4 class="text-center">Leviathans are massive illuminates airships.</h4>
                            <h4 class="text-center">They are armed with 8 laser cannons that have increadible destructive powers.</h4>
                            <h4 class="text-center">They are also equipped with advanced shielding technology, making them difficult to destroy.</h4>
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <img id="Leviathan" src="images/Leviathan.png" class="img-fluid">
                        </div>
                        <div class="col-xl-12 col-xxl-6 p-4">
                            <video id="LeviathanVid" src="Videos/Leviathan.mp4" autoplay loop muted
                                class="img-fluid"></video>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer>
        <div class="container-fluid bg-dark bg-gradiant text-center p-3">
            <h2>Disclaimer This Is An Unofficial Website.</h2>
            <h2>All rights belongs to the officials publisher:Arrowhead Studio and Sony Interactive Entertainment.</h2>
            <h2>If there is any issues feel free to contact me with the following email address: joodesu1234@gmail.com
            </h2>
        </div>
    </footer>
</body>

<script>
    var vueApp = Vue.createApp({
        data() {
            return {
                bugs: [
                    {
                        icon: "BugsIcon",
                        imgSrc: "TerminidsIcon.png",
                        imgAlt: "Bugs",
                        title: "Terminids,The Bugs",
                        desc: "Terminids were sentient extraterrestrial species,similars to Earth insects.\nThey generate large amount of Element-710,similar to fossile fuel source.\nAttempt to extracts of the E-710 from their hive-world have triggered their aggression to attack extraction sites,and begin a war between the bugs and humanity.\nAfter the first war ended,the remaining small population of terminids are confined in asecure and controlled farms for extraction of the fuels.\nHowever,the terminids have develop new strains due to toxic chemical waste lead to creation of bile varients.\nAfter 100 years,the eastern sector terminids farm have been overrun and lead to outbreak of terminids,and the Second Galactic War begins.\nThey exceels in melee combat with their claws with a few exception of bile varients that will have acid spit attacks,they are experts in swarm tactics.",
                    },
                ],
                bots: [
                    {
                        icon: "BotsIcon",
                        imgSrc: "AutomatonIcon.png",
                        imgAlt: "Bots",
                        title: "Automatons,The Robots",
                        desc: "Cyborgs are known for their different athethics,cultural and obessions with manipulating their own bodies into machinenary.\nA war have started due to Super Earth suspect the involvement of the cyborgs bombing one of the Super Earth Districts and causes 8 civilian casualities.\nAfter the first war,they have surrendered and being enslave as labours for greater good of Super Earth and consentration camps to be reeducated.\nAutomatons are the descendants of Cyborg Nations.\nThey are created to continue fighting Super Earth and liberate the cyborgs from their enslavement.\nAlong side the terminids outbreak,the Automatons forces have made serveral incursion at the Serverin Sector.\nThey exceels in range combat combine with their advanced technology and weaponry.",
                    },
                ],
                squids: [
                    {
                        icon: "SquidsIcon",
                        imgSrc: "IlluminatesIcon.png",
                        imgAlt: "Squids",
                        title: "Illuminates,The Squids",
                        desc: "The illuminates society are had endured several hundred thousand of years.\nThe illuminates approached Super Earth with peace offering,however Super Earth discovered their possession weapons that capable of destroying planets.\nSuper Earth justify their weapon as a reason to wage the first war with the illuminates and successfully defeat them.\nSuper Earth suspect they are extint after the first war,but some illuminates survivors fled to unknown spaces.\nDue to this revelation,the illuminates have alter their society and begin plotting revenge agaiunst Super Earth.\nThey have return with a vengence and begining invading Mega Cities that lead by elite Overseers and supported with swarms of Voteless.\nVoteless are Super Earth citizen that have abducted and mutated into mindless zombies.",
                    },
                ],
            };
        }
    }).mount("#enemiesapp");

    function wireAudioToggle(button, audio, playIcon, pauseIcon) {
        // it is used to make a certain button img to link it with audio for play and pause
        var audio = document.getElementById(audio);
        var button = document.getElementById(button);
        if (!audio || !button) return;
        // If either the audio or button element is not found, exit the function
        button.onclick = function () {
            if (audio.paused) {
                audio.play();
                button.src = pauseIcon;
            } else {
                audio.pause();
                button.src = playIcon;
            }
        };
    }

    wireAudioToggle("button", "BugMusic", "images/TerminidsPlayIcon.png", "images/TerminidsPauseIcon.png");
    wireAudioToggle("button2", "BotMusic", "images/AutomatonPlayIcon.png", "images/AutomatonPauseIcon.png");
    wireAudioToggle("button3", "SquidMusic", "images/IlluminatesPlayIcon.png", "images/IlluminatesPauseIcon.png");

    gsap.from("body", { opacity: 0, duration: 1 });
    // from to put it simply is the beginning of an animation,to is the end of the animation

    gsap.registerPlugin(ScrollTrigger);

    gsap.fromTo("#Stalker",
        { opacity: 1 },
        {
            opacity: 0.25,
            duration: 0.5,
            yoyo: true,
            // yoyo main use is to reverse the animation back and usually must pair with repeat that have a number or else it would not work
            repeat: 3,
            ease: "none",
            scrollTrigger: {
                trigger: "#Stalker",
                start: "top 80%",
                toggleActions: "play none none reset"
            }
        }
    );

    gsap.to("#BileTitan", {
        x: () => gsap.utils.random(-20, 20),
        y: () => gsap.utils.random(-18, 18),
        rotation: () => gsap.utils.random(-2, 2),
        duration: 0.5,
        yoyo: true,
        repeat: 3,
        ease: "none",
        clearProps: "x,y,rotation",
        // clearprops is needed to ensure the img position would not be altered in anyway after the animation is finish most common uses either clearprops:x,y,rotation or clearprops:transform
        scrollTrigger: {
            trigger: "#BileTitan",
            start: "top 80%",
            toggleActions: "play none none reset"
        }
    });

    gsap.from("#HiveLord", {
        y:300,
        scaleY: 0.85,
        transformOrigin: "50% 100%", 
        // transform origin is used set the position to expand the size of the object/image
        opacity: 0,
        duration: 1,
        ease: "power3.out",
        // power.out have four type 1~4 the higher the number the faster the animation stop in at the end
        scrollTrigger: {
            trigger: "#HiveLord",
            start: "top 80%",
            toggleActions: "play none none reset"
        }
    });

    gsap.from("#Hulks", {
        y: -300,
        opacity: 0,
        duration: 2,
        ease: "power3.out",
        scrollTrigger: {
            trigger: "#Hulks",
            start: "top 80%",
            toggleActions: "play none none reset"
        }
    });

    gsap.to("#FactoryStrider", {
        x: -50,
        y: 10,
        rotation: -1.5,
        duration: 1,
        ease: "power4.out",
        yoyo: true,
        repeat: 1,
        clearProps: "x,y,rotation",
        scrollTrigger: {
            trigger: "#FactoryStrider",
            start: "top 80%",
            toggleActions: "play none none reset"
        }
    });

    gsap.from("#Fleshmobs", {
        x:-300,
        scale: 0.1,
        duration: 1.5,
        ease: "power3.out",
        scrollTrigger: {
            trigger: "#Fleshmobs",
            start: "top 80%",
            toggleActions: "play none none reset"
        }
    });

    gsap.to("#Leviathan", {
        y: -50,
        rotation: 1,
        duration: 2,
        ease: "power2.inOut",
        yoyo: true,
        repeat: -1,
        scrollTrigger: {
            trigger: "#Leviathan",
            start: "top 80%",
            toggleActions: "play pause resume pause"
        }
    });
</script>

</html>